.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.Calculator {
  border: 1px solid black;
  display: grid;
  width: 25%;
  height: 75%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#calcEquation {
  grid-column: span 4;
  text-align: right;
}

#calcInput {
  grid-column: span 4;
  text-align: right;
}

#clear {
  grid-column: span 2;
}

#enter {
  grid-row: span 2;
}